<div id="result">
  {% for m in msg %}
  <p>{{ m.message|safe }}</p>
  {% endfor %}
</div>
<script>
if (!!window.EventSource) {
  var source = new EventSource("{{ context.channel.get_absolute_url }}server/{{ context.slug }}");

  source.onopen = function () {
  }

  source.onerror = function () {
  }

  source.addEventListener('update', function(e) {
    var data = JSON.parse(e.data);
    console.log(data.id, data.msg);
  }, false);

  source.addEventListener('error', function(e) {
    if (e.readyState == EventSource.CLOSED) {
      //
    }
  }, false);

  source.onmessage = function(e) {
    var data = JSON.parse(e.data)
    if (data.event == 'message'){
      var html = document.getElementById("result").innerHTML
      document.getElementById("result").innerHTML = "<p>" + data.msg + "</p>" + html;
    }
  };
} else {
  // Result to xhr polling :(
}
</script>
