{% extends "liveblog_admin_base.html" %}
{% load admin_list i18n %}
{% load url from future %}

{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="/static/admin/liveblogging/goalserve.css"> -->
<link rel="stylesheet" type="text/css" href="/static/admin/liveblogging/soccer.css">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/static/admin/liveblogging/soccer.js"></script>
{% endblock %}

{% block content %}
<div id="content-main">
{% with match=context.transmission.match %}

  <div class="g-d-6 left">

    <div class="w-30 pull-left">
        <img src="{{match.localteam.image_url}}" title="{{ match.localteam.g_id }}"/>
    </div>
    <div class="w-70 pull-right">
        <h1>{{match.localteam.name}}</h1>
    </div>
    <hr />

    {% for lineup in match.local_lineup %}

    <div class="w-30 pull-left">
        <img src="{{lineup.player.image_url}}" />
    </div>
    <div class="w-70 pull-right">
        <h5>{{lineup.player.name}} ({{lineup.player.number}})</h5>
        {{lineup.player.position}}
        Age:{{lineup.player.age}}

    </div>
    <div class="clearfix clear"></div>

    {% endfor %}


  </div>
  <div class="g-d-12 center">

        <div id="event-buttons">
            <a href="#" class="event-button flag--text"><i class="icon"></i></a>
            <a href="#" class="event-button flag--score"><i class="icon"></i></a>
            <a href="#" class="event-button flag--rcard"><i class="icon"></i></a>
            <a href="#" class="event-button flag--ycard"><i class="icon"></i></a>
            <a href="#" class="event-button flag--replace"><i class="icon"></i></a>
        </div>

        <small>Preview</small>
        <div id="preview-box" class="feed-list">
         <div class="preview-item row item flag--rcard">
            <div class="small-2 columns time w-20 pull-left">
                <p class="event-half">1º tempo</p>
                <h1><span class="event-minute" contenteditable="true" data-placeholder="">45</span>'</h1>
            </div>
            <div class="small-10 columns description w-80 pull-right" >
                <h5><div class="event-title" contenteditable="true" data-placeholder="<em>Title</em>"><em>Title</em></div></h5>

                <p>
                    <span class="icon event-icon"></span>
                    <div class="event-text" contenteditable="true" data-placeholder="<em>Text</em>"><em>Text</em></div>
                </p>
            </div>
        </div>
        </div>

      <form method="post" class="clear">

        {% csrf_token %}
        <input id="id_message" name="message" class="input-block-level" type="hidden">
        <a href="#" id="btnPost" class="grp-button" type="button">{% trans "send" %}</a>
      </form>

      <div  id="msgs" class="feed-list">
        {% for m in msg %}
        <p>{{ m.message|safe }}</p>
        {% endfor %}
      </div>

<small>{{ match.id }} / {{ match.g_static_id }}</small>
  </div>

  <div class="g-d-6 right">

    <div class="w-30 pull-left">
        <img src="{{match.visitorteam.image_url}}" title="{{ match.visitorteam.g_id }}"/>
    </div>
    <div class="w-70 pull-right">
        <h1>{{match.visitorteam.name}}</h1>
    </div>
    <hr />

    {% for lineup in match.visitor_lineup %}

    <div class="w-30 pull-left">
        <img src="{{lineup.player.image_url}}" />
    </div>
    <div class="w-70 pull-right">
        <h5>{{lineup.player.name}} ({{lineup.player.number}})</h5>
        {{lineup.player.position}}
        Age:{{lineup.player.age}}

    </div>
    <div class="clearfix clear"></div>

    {% endfor %}

  </div>

{% endwith %}
</div>
{% endblock %}
