{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load url from future %}

{% block title %}{% trans "Liveblogging administration" %} | {% trans 'Opps site admin' %}{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
      <li><a href="../../">{% trans "Home" %}</a> <span class="divider">/</span></li>
      <li><a href="../">{% trans "Liveblogging" %}</a> <span class="divider">/</span></li>
      <li class="active">{% trans "Menssages" %}</li>
  </ul>
  <div class="page-header">
    <h3>{% trans "Liveblogging administration" %}</h3>
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
<ul>
{% for event in context %}

  <li class="span4">
    <div class="thumbnail">
      <img src="{{ event.main_image.archive }}" />
      <div class="caption">
        <h3>{{ event.title }}</h3>
        <p>{{ event.hat }}</p>
        <p><a href="#" class="btn btn-primary">{% trans "Join" %}</a></p>
      </div>
    </div>
  </li>

{% endfor %}
</ul>

  </div>
{% endblock %}
