{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load url from future %}

{% block title %}{% trans "Liveblogging administration" %} | {% trans 'Opps site admin' %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="../../">{% trans "Home" %}</a> </li>
    <li><a href="../">{% trans "Liveblogging" %}</a></li>
    <li class="active">{% trans "Menssages" %}</li>
</ul>
{% endblock %}

{% block content %}
<div class="page-header">
  <h3>{% trans "Liveblogging administration" %}</h3>
</div>
<div id="content-main">
  <ul>
  {% for event in context %}
    <li class="span4">
      <div class="thumbnail">
        <a href="{% url 'liveblogging:event-admin-detail' event.slug %}" class="btn btn-primary">
           <img src="{{ MEDIA_URL }}{{ event.main_image.archive }}" />
        </a>
        <div class="caption">
          <h3>{{ event.title }}</h3>
          <p>{{ event.hat }}</p>
          <p><a href="{% url 'liveblogging:event-admin-detail' event.slug %}" class="btn btn-primary">{% trans "Join" %}</a></p>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
