{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load url from future %}

{% block title %}{% trans "Liveblogging administration" %} | {% trans 'Opps site admin' %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="../../">{% trans "Home" %}</a> </li>
  <li><a href="../">{% trans "Liveblogging" %}</a> </li>
  <li><a href="./">{% trans "Menssages" %}</a> </li>
  <li class="active"><strong>{{ context.title }}</strong></li>
  <li><a href="{{context.get_absolute_url}}" target="_blank">{% trans "View on site"%}</a></li>
</ul>
{% endblock %}

{% block content_title %}
<br />
  <hr />
{% endblock %}

{% block extrastyle %}
<style>
#msgs {
  height: 650px;
  padding: 5px;
  overflow: scroll;
}
#grp-content-container {
    /*margin: auto;*/
}

#id_message{
    width: 80%;
}
</style>
{{ block.super }}
{% endblock %}

{% block extrahead %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">

function send_msg(){
  var data = django.jQuery("form").serialize();
  console.log(data);

  django.jQuery.ajax({
    type: "POST",
    data: data,
    success: function (e){
      django.jQuery("#id_message").val("");
      django.jQuery("#id_message").focus();
      django.jQuery("#msgs").prepend("<p>"+ e +"</p>");
      console.log("posted");
    }
  });
};

django.jQuery(document).ready(function(){
  django.jQuery('#btnPost').click(function(){
    send_msg();
  });

  django.jQuery(document).on('submit', 'form', function(e) {
    send_msg();
    e.preventDefault();
  });
});
</script>
{% endblock %}

{% block content %}
{% endblock %}
